
<!DOCTYPE html>
<html>
<head>
  <title> Pragprog Books Online Store</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>

</head>

<body id="columns" >
<div id="banner" >


  <%= image_tag("logo.png") %>
  <%= @page_title || "Pragmatic Bookshelf" %>


</div>
<div id="columns" >
  <div id="side" >
    <div id="cart" >



      <%= render @cart if @cart %>

    </div>

    <a href="/" >Homes</a><br />
    <a href="/carts" >New carts</a><br />
    <a href="/products/new" >New Product </a><br />
    <a href="/orders" >Orders</a><br />
    <a href="/users/new" >New Users</a>
    <a href="/users">List User</a>







  </div>


  <div id="main" >
    <%= yield %>


  </div>

</div>



</body>

</html>

